bs4
ctypes
emoji
keyboard
matplotlib
names
pandas
PIL
pyaudio
pydub
PyPDF2
nltk
pathlib
PyDictionary
pyperclip
pytesseract
pyttsx3
pywin32
spacy
SpeechRecognition
ssl
win32print
fast_autocomplete
textblob
urllib
webbrowser
wikipedia
win32api
numexpr
tktooltip
