bs4
audioop-lts
emoji
keyboard
matplotlib
names
pandas
Levenshtein
Pillow
pyaudio
pydub
PyPDF2
nltk
PyDictionary
pyperclip
pytesseract
pyttsx3
pywin32
spacy
SpeechRecognition
fast_autocomplete
textblob
wikipedia
numexpr
requests
